{{! const title = document.createElement("div");
        navbar.appendChild(title);

        const titleText = document.createElement("span");
        titleText.classList.add("text-xl", "font-bold");
        titleText.textContent = "Recursipe";
        title.appendChild(titleText);

        const signOut = document.createElement("a");
        signOut.classList.add("btn", "btn-primary");
        signOut.role = "button";
        signOut.textContent = "Sign Out";
        signOut.href = "/auth/signout";
        navbar.appendChild(signOut); }}

<div class="navbar bg-base-100 justify-between g-4">
    <div>
        {{#if isAdmin}}
            <a href="/editor" class="btn btn-secondary">Editor</a>
        {{/if}}
    </div>

    <div>
        <a href="/" class="btn btn-ghost text-xl">Recursipe</a>
    </div>

    <div>
        {{#if isSignedIn}}
            <a href="/auth/signout" class="btn btn-primary">Sign Out</a>
        {{else}}
            <a href="/auth/signin" class="btn btn-primary">Sign In</a>
        {{/if}}
    </div>
</div>