<div class="navbar bg-base-100 justify-between g-4">
    <div>
        {{#if isAdmin}}
            <a href="/editor" class="btn btn-secondary">Editor</a>
        {{/if}}
    </div>

    <div>
        <a href="/" class="btn btn-ghost text-xl">Recursipe</a>
    </div>

    <div>
        {{#if isSignedIn}}
            <a href="/auth/signout" class="btn btn-primary">Sign Out</a>
        {{else}}
            <a href="/auth/signin" class="btn btn-primary">Sign In</a>
        {{/if}}
    </div>
</div>